/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0rem;
}

.jumbotron {
    background-image: url(images/jumbotron_bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 700px;
}